
.graph {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.export-button {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 1000px;
  padding: 5px 12px;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.15);
  transition: .5s all ease-in-out;
  background: white;
  font-size: 1.2rem;
  animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0 0 white;

  &:hover {
    cursor: pointer;
    background: white;
    color: #1F4141;
    animation: none;
    scale: 1.05;
  }

}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
}